
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/4.0/examples/jumbotron/jumbotron.css" rel="stylesheet"> 
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet"> 
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script> 
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script> 
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script> 
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script> 
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script> 
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script> 
  </head>
  <script type="text/javascript">
   $(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
  </script>
<body>

    <div class="container">
      <div class="header">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Application</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/showSignUpExcel">Importation Etudiant<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/showSignUpExcelEnseignant">Importation Enseignant</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link" href="/showSignUpExcelMA">Importation MA</a>
          </li>
		   <li class="nav-item">
            <a class="nav-link" href="/showSignUpExcelPPD">Importation PPD</a>
          </li>
		   <li class="nav-item">
            <a class="nav-link" href="/showsendmail">Attribution tuteur</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/consultationEtudiant">Consultation Etudiant</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link" href="/planningconversion">Conversion Planning</a>
          </li>
      
        </ul>
      </div>
    </nav>
        
      </div>

	    <div class="jumbotron">
		
        <h1>Consultation Etudiant</h1>
		
        <table border="1" cellpadding="5" cellspacing="5" id="example" class="display nowrap" >
	<thead>
	<th>Nom Etudiant</th>
	<th>Prenom Etudiant</th>
	<th>Mail Etudiant</th>
	<th>Enseignant Tuteur</th>
	<th>PPD</th>
	<th>Entreprise</th>
	<th>Mission</th>
	</thead>
	<tbody>
    {% for row in data %}
        <tr>
       
            <td><a href="/showmodificationetudiant?id={{ row.idet }}">{{ row.nomet }}</a></td>
            <td>{{ row.prenomet }}</td>
			<td>{{ row.mailet }}</td>
			<td>{{ row.nomen }}</td>
			<td>{{ row.descppd }}</td>
			<td>{{ row.nomentre }}</td>
			<td>{{ row.resmis }}</td>
			
        </tr>
    {% endfor %}
	</tbody>
</table>
		
      </div>
		
       
      <div id="resultats">
	  </div>
     

    </div>
  </body>
 
</html>
  <script type="text/javascript">
 
  
    
  </script>
