<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.10.8/xlsx.full.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.4-a/xls.js">
</script>

<link href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
<script src="https://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <!--<link href="../static/css/signup.css" rel="stylesheet">-->
    <script src="../static/js/jquery-1.11.2.js"></script>
	<script src="../static/js/modificationetudiant.js"></script>
   
  </head>
  <script type="text/javascript">
    /*! ics.js Wed Aug 20 2014 17:23:02 */
  </script>
<body>

    <div class="container">
      <div class="header">
         <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Application</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/showSignUpExcel">Importation Etudiant<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/showSignUpExcelEnseignant">Importation Enseignant</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link" href="/showSignUpExcelMA">Importation MA</a>
          </li>
		     <li class="nav-item">
            <a class="nav-link" href="/showSignUpExcelPPD">Importation PPD</a>
          </li>
		   <li class="nav-item">
            <a class="nav-link" href="/showsendmail">Attribution tuteur</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/consultationEtudiant">Consultation Etudiant</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link" href="/planningconversion">Conversion Planning</a>
          </li>
      
        </ul>
      </div>
    </nav>
      </div>

	    <div class="jumbotron">
		
        <h1>Modification Etudiant</h1>
		 
        <form class="form-signin" id="form-modifetu">
		 <div class="form-group row">
		<input name="idetudiant" title="idetudiant." id="idetudiant" type="text" size="15" value="{{ data[0].idEtudiant }}" readonly="readonly"  style="display:none" ></input> </br>
         <div class="row">
         <div class="col">
		 <label for="nometudiant">Nom etudiant</label>
		 <input name="nometudiant" title="nometudiant." id="nometudiant" type="text" class="form-control" value="{{ data[0].nometudiant }}" ></input> </br>
		 </div>
		 <div class="col">
		 <label for="prenometudiant">Prenom etudiant</label>
		 <input name="prenometudiant" title="prenometudiant." id="prenometudiant" type="text" class="form-control" value="{{ data[0].prenometudiant }}" ></input></br>
		 </div>
		 </div>
		 
		 <label for="mailetudiant">Mail etudiant</label>
		 <input name="mailetudiant" title="mailetudiant." id="mailetudiant" type="text" class="form-control" value="{{ data[0].mailetudiant }}" ></input></br>
		  
		  <label for="ppdid">Selectionnez un sujet de PPD</label>
			<select id="ppdid" name="ppdid" class="selectpicker form-control" style="height:3em;"  >
			  <option value="" ></option>
              {% for e in datappd %}
              <option value="{{ e.idPPD }}" {% if data[0].idPPD==e.idPPD %} selected="selected"{% endif %} >{{ e.descriptionPPD }}</option>
              {% endfor %}
            </select>
			
		
        
		<label for="entreprise">Entreprise</label>
		<input name="entreprise" title="entreprise" id="entreprise" type="text" class="form-control" {% if datamission %} value="{{ datamission[0].nomEntreprise }}" {% endif %} ></input>
        <label for="resumemission">Resume Mission</label>
		<input name="resumemission" title="resumemission" id="resumemission" type="text" class="form-control" {% if datamission %} value="{{ datamission[0].resumeMission }}" {% endif %} ></input>
		
        <button id="btnmodifetudiant" class="btn btn-lg btn-primary btn-block" type="button">Valider</button>
      </div>
	  </form>
      </div>
		
       
      <div id="resultats">
	  </div>
     

    </div>
	
	    <pre>
{{form.value | json}}
    </pre>
    
    <h4>Submitted</h4>
    <pre>    
{{value | json }}
    </pre>
  </body>
 
</html>
  <script type="text/javascript">
 
  
    
  </script>
